html{
    font-size: 62.5%;
}

body{
    background-image: url("/download.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

